@charset "UTF-8";

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --amarelo: #ffcf00;
    --branco: #ffffff;
    --cinza: #56544e;
    --preto: #000000;
    --preto_transparente: #00000040;
}

/* Versão desktop */
body {
    background-color: var(--cinza);
    overflow: hidden;
}

h1 {
    margin-bottom: 60px;
    text-align: center;
    transition: 0.2s ease;
}

h1:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

main {
    background-color: var(--amarelo);
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    transition: 0.5s ease;
    width: 900px;
}

main:hover {
    box-shadow: 4px 4px 4px 0px var(--preto_transparente);
    transition: 0.5s ease;
}

form {
    text-align: center;
}

hr {
    margin: 15px;
}

button {
    background-color: var(--preto);
    border-radius: 25px;
    color: var(--branco);
    cursor: pointer;
    padding: 8px;
    transition: 0.3s ease;
}

button:hover {
    background-color: var(--branco);
    color: var(--preto);
    transition: 0.3s ease;
}

/* Versão tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    main {
        transition: 0.5s ease;
        width: 700px;
    }
}

/* Versão mobile */
@media (max-width: 768px) {
    main {
        transition: 0.5s ease;
        width: 400px;
    }
}